body {
  min-height: 2000px;
  padding-top: 70px;
}

#panel-repositories,
#panel-issues,
#panel-issue {
  float: left;
}

.repository-list {
  list-style-type: none;
}

.repository-list li {
  padding: 0.2em 1em;
}
